@import "normalize";
@import "layout";
@import "slick.scss";
@import "_elements";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap');

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
	$title-font-family:'Gotham-Bold', sans-serif;
	$header-font-family:"Gotham-Medium", sans-serif;
	$text-color: #ffffff;
	$text-color-dark:#2c4058;
	$body-font-family: "Open Sans", sans-serif;

body{
	font-family:$header-font-family;
	color:$text-color-dark;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-section{
	position: relative;
	padding-top: 133px;
}
.ba-header {
	color:#ffffff;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	right: 0;
	&__bar{
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
	&__socials{
		display: flex;
		justify-content: space-between;
		align-items: center;
		ul{
			list-style: none;
			display: flex;
			li{
				padding-left:16px;
			}
		}
		svg{
			width: 15px;
			height: 15px;
			fill: #fff;
		}
	}
}

.ba-menu {
	
    z-index: 1;
    display: block;
	list-style: none;
	display: flex;
	margin-top:8px;
	li{
	
		padding-left: 42px;
		
		a{
			text-decoration: none;
			color:$text-color;
			font-family:$header-font-family;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	align-items: center;
		}
	}
}
.ba-heading-slider{
	background: url(../img/intro_background.jpg) 50% no-repeat / cover;
	min-height: calc(100vh - 10px);
	padding-top:200px;
	text-align: center;
	color:$text-color;
	&__title{
		font-family:$body-font-family;
		font-size: 80px;
font-weight: 700;
line-height: 22px;
text-transform: uppercase;
letter-spacing: 4px;
	}
	&__subtitle{
		font-size: 18px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
letter-spacing: 5.4px;
	}
}
.ba-scroll{
	position: absolute;
    bottom:150px;
    width: 40px;
    height: 40px;
    background: url(../img/scroll.png);
    left: 50%;
    margin-left: -12px;
}
.ba-section__title{
	font-family: $title-font-family;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;

	&:before{
		content: '';
		display: inline-block;
		position: absolute;
		top:130px;
		left:620px;
		width: 8%;
		height: 1px;
		background: black;
	}
}

.ba-projects__item{
	padding:0 0 80px 0;
	
}
.ba-projects__title{
	font-family: $title-font-family;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.ba-projects__images{
	img{
		box-shadow: -260px -70px 0px 0px #55b7ff;
		margin-top:-18px;
}
}
.ba-projects__content{
	p{
		font-family: $body-font-family;
		font-size: 22px;
		font-weight: 400;
	}
}
.ba-projects__contacts{
	font-family: $body-font-family;
	font-size: 18px;
	font-style: italic;
	line-height: 30px;
}
.ba-projects__images_2{
	box-shadow: 230px -70px 0px 0px #7e5aff;
		margin-top:-18px;
}
.ba-projects__contact{
	padding-bottom:140px;
}
.ba-col__gallery{
	padding-top:10px;
	padding-left:10px;
}
#ba-map {
	height: 700px;
  }
  .ba-contact-form {
	display:flex;
	flex-wrap: wrap;
	margin:0 300px;
	font-size: 18px;
font-weight: 400;
line-height: 34px;
}
.ba-footer {
	color:#ffffff;
	background: url(../img/intro_background.jpg) 50% no-repeat / cover;

	&__socials{
		display: flex;
		justify-content: space-between;
		align-items: center;
		ul{
			list-style: none;
			display: flex;
			li{
				padding-left:16px;
			}
		}
		svg{
			width: 15px;
			height: 15px;
			fill: #fff;
		}
	}
}
